body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}
/*.NAME are classes*/
.StatNumber{
    color: red;
}

.StatPointPoolBar{
    color: greenyellow;
}
/* The element with id="demo" */
#statPointPoolNumber{
      color: black;
}
